---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/Experience.astro";
import Stack from "@/components/Stack.astro";
import Projects from "@/components/Projects.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Gonzalo Chalé - Astro Portfolio Template">
  <div class="w-full max-w-screen-2xl flex flex-col justify-start items-center">
    <Header />
    <Hero />
    <Experience />
    <Stack />
    <Projects />
    <Footer />
  </div>
</Layout>
