---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
---

<Layout title="Gonzalo Chalé -  Atro Portfolio Template">
  <main
    class="w-full max-w-7xl flex flex-col flex-1 justify-start items-center"
  >
    <Hero />
    <Stack />
  </main>
</Layout>
