---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gonzalo Chañé -  mi portafolio">
  <main
    class="w-full max-w-5xl border-2 flex flex-1 justify-center items-center"
  >
    hola mundo
  </main>
</Layout>
