---
import cv from "@cv";

const {
  basics: { name, label },
  connect: { socials },
} = cv;

// icon provided by radix icons
---

<footer
  class="w-full px-4 sm:pt-20 pt-24 pb-10 flex flex-col gap-10 justify-between items-center bg-card border-t"
>
  <span
    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed
  peer-disabled:opacity-70 flex items-center gap-2"
  >
    {name}, {label}.
  </span>
  <div
    class="flex flex-wrap gap-5 h-full items-center justify-center pointer-events-auto"
  >
    {
      socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="group flex items-center text-muted-foreground text-sm font-medium leading-none hover:text-foreground transition-all duration-300 ease-in-out"
        >
          {social.label}
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            class="opacity-0 group-hover:opacity-100 translate-x-[-1] group-hover:translate-x-1 group-hover:-rotate-45 transition-all duration-300 ease-in-out"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      ))
    }
  </div>
</footer>
