---
import cv from "@cv";

const { basics } = cv;

const { name, summary } = basics;
---

<section
  class="w-full h-dvh flex flex-col gap-5 flex-1 justify-center items-center px-4"
>
  <h1
    class="w-full max-w-xl sm:text-center text-3xl sm:text-5xl md:text-7xl font-medium tracking-tighter"
  >
    {name}
  </h1>
  <h2
    class="w-full max-w-xl text-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter"
  >
    {summary}
  </h2>
</section>
