---
import Image from "astro/components/Image.astro";
import cv from "@cv";

const { projects } = cv;
---

<section
  class="relative w-full flex flex-col gap-10 items-center justify-center px-4 py-20 sm:py-24 border-t border-b bg-card"
>
  <h2
    class="absolute top-[-20px] h-10 flex items-center px-2 py-1 rounded-full border text-foreground text-sm sm:text-normal md:text-lg tracking-tighter bg-card"
  >
    My Projects
  </h2>

  <div
    class="flex gap-3 sm:gap-5 snap-x snap-mandatory p-4 sm:px-10 pb-10 pointer-events-auto overflow-scroll"
  >
    {
      projects.map((project) => (
        <a
          href={project.url}
          target="_blank"
          rel="noopener noreferrer"
          class="snap-always snap-center shrink-0 w-[90%] sm:w-[80%] rounded-[0.5rem] sm:rounded-[1rem] bg-card flex flex-col justify-center overflow-hidden perfect-shadow"
        >
          <Image
            src={project.imageUrl}
            width={1920}
            height={1080}
            loading="eager"
            alt={project.name}
            class="w-full"
          />
        </a>
      ))
    }
  </div>
</section>
