---
import Shades from "@/components/Shades.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="relative flex flex-col w-full min-h-dvh items-center bg-background overflow-hidden"
  >
    <Shades>
      <slot />
    </Shades>
  </body>
  <style is:global>
    @font-face {
      font-family: "Geist";
      src: url("/fonts/GeistVF.woff") format("woff");
    }
    * {
      @apply text-foreground border-border;
      font-family: "Geist", sans-serif;
    }
  </style>
</html>
