---
import Shades from "@/components/Shades.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

import cv from "@cv";

const { basics } = cv;

const { showAuroraBackground } = basics;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Shades showAuroraBackground={showAuroraBackground}>
    <body
      class="relative flex flex-col w-full min-h-dvh items-center bg-background"
    >
      <slot />
    </body>
  </Shades>

  <style is:global>
    @font-face {
      font-family: "Geist";
      src: url("/fonts/GeistVF.woff") format("woff");
    }
    * {
      @apply text-foreground border-border;
      font-family: "Geist", sans-serif;
    }
    .perfect-shadow {
      box-shadow: var(--perfect-shadow);
      --base: hsl(214 80% 27% / 4%);
      --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
      --perfect-shadow: 0 0 0 1px var(--base), 0 1px 1px -0.5px var(--shade),
        0 3px 3px -1.5px var(--shade), 0 6px 6px -3px var(--shade),
        0 12px 12px -6px var(--base), 0 24px 24px -12px var(--base);
    }
  </style>
</html>
